%h1 Listing phrases

%table
  %tr
    %th Content
    %th Hit points
    %th
    %th
    %th

  - @phrases.each do |phrase|
    %tr
      %td= phrase.content
      %td= phrase.hit_points
      %td= link_to 'Show', phrase
      %td= link_to 'Edit', edit_phrase_path(phrase)
      %td= link_to 'Destroy', phrase, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Phrase', new_phrase_path
