= form_for @passage do |f|
  - if @passage.errors.any?
    #error_explanation
      %h2= "#{pluralize(@passage.errors.count, "error")} prohibited this passage from being saved:"
      %ul
        - @passage.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :damage
    = f.number_field :damage
  .field
    = f.label :population
    = f.number_field :population
  .actions
    = f.submit 'Save'
